/quote-editor/*.rbc
/quote-editor/capybara-*.html
/quote-editor/.rspec
/quote-editor/db/*.sqlite3
/quote-editor/db/*.sqlite3-journal
/quote-editor/db/*.sqlite3-[0-9]*
/quote-editor/public/system
/quote-editor/coverage/
/quote-editor/spec/tmp
/quote-editor/*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/quote-editor/log/*
/quote-editor/tmp/*
!/quote-editor/log/.keep
!/quote-editor/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
/quote-editor/config/initializers/secret_token.rb
/quote-editor/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
/quote-editor/.env
/quote-editor/.env*.local

## Environment normalization:
/quote-editor/.bundle
/quote-editor/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
/quote-editor/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/quote-editor/vendor/assets/bower_components
/quote-editor/*.bowerrc
/quote-editor/bower.json

# Ignore pow environment settings
/quote-editor/.powenv

# Ignore Byebug command history file.
/quote-editor/.byebug_history

# Ignore node_modules
/quote-editor/node_modules/

# Ignore precompiled javascript packs
/quote-editor/public/packs
/quote-editor/public/packs-test
/quote-editor/public/assets

# Ignore yarn files
/quote-editor/yarn-error.log
/quote-editor/yarn-debug.log*
/quote-editor/.yarn-integrity

# Ignore uploaded files in development
/quote-editor/storage/*
!/quote-editor/storage/.keep
/quote-editor/public/uploads

/quote-editor/tmp